@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300..800&family=Playfair+Display:wght@600..800&display=swap");

@layer base {
  body {
    @apply font-sans antialiased;
  }
}
